<div class="container-fluid fill">
  <div class="row fill">
    <div id="menu_container" class="col-sm-2 fill-height text-center">
      <div class="row">
        <div class="label"><h1>iLyze</h1></div>
      </div>
      <div class="row">
        <div class="col-md-4"><label for="area" class="label">Distance (km):</label></div>
        <div id="slider-range-min" class="col-md-8"></div>
      </div>
      <div class="row">
        <input type="text" id="area" class="form-control">
      </div>
      <div class="row">
        <div class="checkbox">
          <label clss="near_hotels"><input type="checkbox" value="" id="near_hotels" onclick="valueChanged()">Only near hotels</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6"><label for="hotels_distance_slider" id="hotels_label" class="label" style="display:none">Max hotel distance (m):</label></div>
        <div id="hotels_distance_slider" class="col-md-6"></div>
      </div>
      <div class="row">
        <input type="text" id="hotels_distance_slider_val" class="form-control">
      </div>

        <div class="row">
          <div class="col-md-9" style="margin-left:12%;margin-bottom: -20px">
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading">Difficulty</div>

              <!-- List group -->
              <ul class="list-group">
                <li class="list-group-item">
                  Novice
                  <div class="material-switch pull-right">
                    <input id="someSwitchOptionSuccess" name="difficulty" type="checkbox" value="novice"/>
                    <label for="someSwitchOptionSuccess" class="label-success"></label>
                  </div>
                </li>
                <li class="list-group-item">
                  Easy
                  <div class="material-switch pull-right">
                    <input id="someSwitchOptionPrimary" name="difficulty" type="checkbox" value="easy"/>
                    <label for="someSwitchOptionPrimary" class="label-primary"></label>
                  </div>
                </li>
                <li class="list-group-item">
                  Intermediate
                  <div class="material-switch pull-right">
                    <input id="someSwitchOptionDanger" name="difficulty" type="checkbox" value="intermediate"/>
                    <label for="someSwitchOptionDanger" class="label-danger"></label>
                  </div>
                </li>
                <li class="list-group-item">
                  Advanced
                  <div class="material-switch pull-right">
                    <input id="someSwitchOptionDefault" name="difficulty" type="checkbox" value="advanced"/>
                    <label for="someSwitchOptionDefault" class="label-default"></label>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

      <div class="row">
        <div class="col-md-12">
          <button type="button" id='find' class="btn btn-primary">Find</button>
        </div>
      </div>
      <div class="row">
        <div id="info" class="info"></div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <button type="button" id='show' class="btn btn-primary">All Ski Resorts</button>
        </div>
        <div class="col-md-6">
          <button type="button" id='show_hotels' class="btn btn-primary">All Hotels</button>
        </div>
      </div>
    </div>
    <div class="col-sm-10 fill-height">
      <div id='map'></div>
    </div>
  </div>
</div>